h1{
    color:blueviolet;
}
h2{
    color: blueviolet;
}
div{
    background-color: grey;
    height: 100px;
    width:100px;
    margin: 10px ;
    padding:10px;
}
#main{
    color: yellow;
}
.class1{
    color: aquamarine;
}
p{
    font-family: arial;
}
#p1{
    line-height: 80px;
    text-transform: uppercase;
}


